<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(podcast) -%>">
  <span class='title'>
    #<%= podcast.episode_number %> <%=h podcast.title %>
    <span class="preview">- <%=h truncate(podcast.subtitle, :length => 50) %></span>
  </span>
  <span class='actions'>
    <%#= link_to refinery_icon_tag("application_go.png"), podcast_url(podcast),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_podcast_path(podcast),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_podcast_path(podcast),
        :class => "cancel confirm-delete",
        :title => t('.delete') %>
  </span>
</li>
